<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add book</title>

    <!--    adding stylesheet file in css directory-->
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

<h2><p>ADD A BOOK: </p></h2>

<!--<form role="form"  th:action="@{/add}" th:object="${books}"  th:method="post">-->
<!--    <div>-->
<!--        <label for="author"> Author </label>-->
<!--        <input th:field="*{author}" id="author" type="text">-->

<!--        <label for="title"> Title </label>-->
<!--        <input th:field="*{title}" id="title" type="text">-->

<!--        <label for="title"> ISBN </label>-->
<!--        <input th:field="*{isbn}" id="isbn" type="text">-->
<!--    </div>-->
<!--    <button type="submit"> Add Book </button>-->

<!--</form>-->

</body>
</html>