<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add book</title>

    <!--    adding stylesheet file in css directory-->
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css"/>
</head>
<body>

<h2><p>ADD A BOOK: </p></h2>

<form th:action="@{/book/add}" th:object="${book}" th:method="post">

    <label for="author"> Author </label>
    <input th:field="*{author}" id="author" type="text">

    <label for="title"> Title </label>
    <input th:field="*{title}" id="title" type="text">

    <label for="isbn"> ISBN </label>
    <input th:field="*{isbn}" id="isbn" type="text">

    <button type="submit"> Add</button>
</form>

</body>
</html>