<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Starting Page</title>

    <!--    adding stylesheet file in css directory-->
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css"/>
</head>
<body>

<h2><p>LIST OF BOOKS: </p></h2>

<table>
    <thead>
    <tr>
        <!--        th Number added for numbering purpose-->
        <th> Number</th>
        <th> Author</th>
        <th> Title</th>
        <th> ISBN</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="3"> No records</td>
    </tr>

    <!--    the same as below but better/shorter code -->
    <tr th:each="book, stat : ${books}" th:object="${book}">
        <!--        added for numbering purpose, variable stat is needed for iteration -->
        <td th:text="${stat.count}">1</td>
        <td th:text="*{author}"> Author</td>
        <td th:text="*{title}"> Title</td>
        <td th:text="*{isbn}"> ISBN</td>
    </tr>

    <!--    <tr th:each="book : ${books}">-->
    <!--        <td th:text="${book.author}"> Author</td>-->
    <!--        <td th:text="${book.title}"> Title</td>-->
    <!--        <td th:text="${book.isbn}"> ISBN</td>-->
    <!--    </tr>-->

    </tbody>
</table>

<a href="/book/add" th:href="@{/book/add}">Click here to add a book </a>

<footer th:fragment="copy">
    &copy; 2019 Wojciech Wasilewski
</footer>

</body>
</html>